<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Страницы" nzIcon="user">
        <ul>
          <li nz-menu-item><a [routerLink]="'/'">Главная</a></li>
          <li nz-menu-item><a [routerLink]="'/auth'"></a>Авторизация</li>
          <li nz-menu-item><a [routerLink]="'/test'"></a>Тест</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Разработчики" nzIcon="team">
        <ul>
          <li nz-menu-item>Команда А</li>
          <li nz-menu-item>Команда Б</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>Файл</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Title" nzSubtitle="This is a subtitle">
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="logout()">Выйти</button>
      </nz-page-header-extra>
    </nz-page-header>
    <nz-content>
      <div #content><ng-content></ng-content></div>
      <div class="empty"><nz-empty *ngIf="!content.innerHTML.trim()"></nz-empty></div>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
