<nz-layout>
  <header>
    <div class="logo-and-search">
      <h2 class="logo">Successful Market</h2>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="Программа, сервис, it-решение" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>
    <div class="navigation">
      <nav class="nav">
        <h3 class="nav-item"><a>Все категории</a></h3>
        <h3 class="nav-item"><a>Тендер</a></h3>
        <h3 class="nav-item"><a>Ярмарка продуктов</a></h3>
      </nav>
      <nz-avatar class="avatar" nzSize="large" nzIcon="user"></nz-avatar>
    </div>
  </header>
  <nz-content>
    <div #content class="content"><ng-content></ng-content></div>
    <!--      <div class="empty"><nz-empty *ngIf="!content.innerHTML.trim()"></nz-empty></div>-->
  </nz-content>
  <nz-footer
    >Footer. Тут можно будет что-нибудь добавить контакты, ссылки, адрес, email..</nz-footer
  >
</nz-layout>
