<div class="photo" [ngClass]="{ 'full-size': fullSize }">
  <img src="{{ product.imageUrl }}" alt="{{ product.title }}" />
</div>
<div class="content">
  <h2 *ngIf="!fullSize" class="title">
    <a [routerLink]="['product/', product.id]">{{ product.title }}</a>
  </h2>
  <h2 *ngIf="fullSize">{{ product.title }}</h2>
  <div class="rating">
    <nz-tag
      [nzColor]="product.rating >= 4 ? 'green' : 'orange'"
      nz-tooltip
      nzTooltipTitle="Рейтинг {{ product.rating }} из 5"
      nzTooltipPlacement="right"
    >
      {{ product.rating }}</nz-tag
    >
    <span *ngIf="!fullSize" class="comments"
      ><a [routerLink]="['product/', product.id]" fragment="comments">{{
        product.comments | comments
      }}</a></span
    >
    <span *ngIf="fullSize">{{ product.comments | comments }}</span>
  </div>
  <p class="info">
    {{ product.info }}
  </p>
</div>
<div class="about">
  <h2 class="price">{{ product.price | russianCurrency }}</h2>
  <p class="vendor">{{ product.author }}</p>
  <div class="download" (click)="isVisible = true">
    <img src="assets/img/download.svg" alt="Скачать" />
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-payment-card
    *ngIf="currentPaymentStep === paymentStep.bankCard"
    cardExpiredTxt="Срок действия карты истек"
    cardHolderMissingTxt="Требуется имя владельца карты"
    cardHolderTooLongTxt="Имя владельца карты слишком длинное"
    ccNumChecksumInvalidTxt="Указанный номер карты недействителен"
    ccNumContainsLettersTxt="Номер карты может содержать только цифры"
    ccNumMissingTxt="Требуется номер карты"
    ccNumTooLongTxt="Номер карты слишком длинный"
    ccNumTooShortTxt="Номер карты слишком короткий"
    ccvContainsLettersTxt="Номер CCV может содержать только цифры"
    ccvMissingTxt="Требуется номер CCV"
    ccvNumTooLongTxt="Номер CCV слишком длинный"
    ccvNumTooShortTxt="Номер CCV слишком короткий"
    expirationMonthMissingTxt="Месяц истечения обязателен"
    expirationYearMissingTxt="Срок годности обязателен"
    (formSaved)="processPayment($event)"
  ></ng-payment-card>

  <div class="modal-wrapper" *ngIf="currentPaymentStep !== paymentStep.bankCard">
    <nz-spin
      *ngIf="currentPaymentStep === paymentStep.processing"
      nzTip="Выполнение транзакции..."
      nzSize="large"
    ></nz-spin>

    <nz-result
      *ngIf="currentPaymentStep === paymentStep.success"
      nzStatus="success"
      nzTitle="Покупка прошла успешно!"
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" nzSize="large" nzShape="round">
          <i nz-icon nzType="download"></i>Скачать
        </button>
      </div>
    </nz-result>
  </div>
</nz-modal>

<!--<nz-skeleton [nzActive]="true"></nz-skeleton>-->
