<div class="photo" [ngClass]="{ 'full-size': fullSize }">
<!--  <img src="{{ product.imageUrl }}" alt="{{ product.title }}" />-->
</div>
<div class="content">
  <h2 *ngIf="!fullSize" class="title">
    <a [routerLink]="['product/', product?.itemId]">{{ product?.name }}</a>
  </h2>
  <h2 *ngIf="fullSize">{{ product?.name }}</h2>
  <div class="rating">
    <nz-tag
      [nzColor]="product?.rating >= 4 ? 'green' : 'orange'"
      nz-tooltip
      nzTooltipTitle="Рейтинг {{ product?.rating }} из 5"
      nzTooltipPlacement="right"
    >
      {{ product?.rating }}</nz-tag
    >
    <span *ngIf="!fullSize" class="comments"
      ><a [routerLink]="['product/', product?.itemId]" fragment="comments">{{
        product?.comments?.length | comments
      }}</a></span
    >
    <span *ngIf="fullSize">{{ product?.comments?.length | comments }}</span>
  </div>
  <p class="info">
    {{ product?.description }}
  </p>
</div>
<div class="about">
  <h2 class="price">{{ product?.price | russianCurrency }}</h2>
  <p class="vendor">{{ ownerName$ | async }}</p>
  <div class="download" (click)="isVisible = true">
    <img src="assets/img/download.svg" alt="Скачать" />
  </div>
</div>

<app-modal-payment [visible]="isVisible" (cancel)="handleCancel()" (ok)="handleOk()"></app-modal-payment>
<!--<nz-skeleton [nzActive]="true"></nz-skeleton>-->
