<app-layout>
  <div class="container">
    <app-product-item
      [product]="product$ | async"
      [fullSize]="true"
      [style.border]="'none'"
    ></app-product-item>
    <div class="comments" id="comments">
      <h2>Все отзывы:</h2>
      <div class="my-comment">
        <label>
          <textarea rows="3" nz-input [(ngModel)]="myComment" placeholder="Оставьте ваш отзыв..."></textarea>
        </label>
        <button nz-button nzType="primary">Отправить</button>
      </div>

      <nz-comment
        *ngFor="let comment of commentsService.state$ | async as comments; let i = index"
        [nzAuthor]="comment.author"
        [nzDatetime]="comment.time"
      >
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar"></nz-avatar>
        <nz-comment-content>
          <p>
            {{ comment.content }}
          </p>
        </nz-comment-content>
        <nz-comment-action>
          <i
            nz-tooltip
            nzTitle="Like"
            nz-icon
            nzType="like"
            [theme]="comment.likes > 0 ? 'twotone' : 'outline'"
            (click)="like(comments, i)"
          ></i>
          <span class="count like">{{ comment.likes }}</span>
        </nz-comment-action>
      </nz-comment>
    </div>
  </div>
</app-layout>
