<app-layout>
  <div class="wrapper">
    <div class="content">
      <h2>{{ category | firstUp }}</h2>
      <p>
        Сортировать:
        <span
          class="sort-item"
          [class.sort-item--active]="sortType === 'price'"
          (click)="sortBy('price')"
          >по цене
          <i
            *ngIf="sortType === 'price'"
            [style.transform]="'translateY(2px)'"
            nz-icon
            nzType="{{ priceType }}"
            nzTheme="outline"
          ></i
        ></span>
        <span
          class="sort-item"
          [class.sort-item--active]="sortType === 'rate'"
          (click)="sortBy('rate')"
          >по рейтингу</span
        ><span
          class="sort-item"
          [class.sort-item--active]="sortType === 'feedback'"
          (click)="sortBy('feedback')"
          >по отзывам
        </span>
      </p>

      <ng-container *ngFor="let product of products$ | async">
        <app-product-item [product]="product"></app-product-item>
      </ng-container>
    </div>
    <div class="settings">
      <h3 class="settings-type">Рейтинг</h3>
      <nz-radio-group [(ngModel)]="minRating" (ngModelChange)="updateRating()" class="radio-group">
        <label nz-radio nzValue="2">От <nz-rate [ngModel]="2" nzDisabled></nz-rate></label>
        <label nz-radio nzValue="3">От <nz-rate [ngModel]="3" nzDisabled></nz-rate></label>
        <label nz-radio nzValue="4">От <nz-rate [ngModel]="4" nzDisabled></nz-rate></label>
        <label nz-radio nzValue="0" [style.marginTop.px]="5">Любой</label>
      </nz-radio-group>
      <h3 class="settings-type">Количество ядер</h3>
      <nz-slider [(ngModel)]="params" [nzMax]="32"></nz-slider>
      <h3 class="settings-type">Цена</h3>
      <nz-slider
        nzRange
        [nzMin]="100"
        [nzMax]="1000"
        [nzStep]="100"
        [nzMarks]="marks"
        [(ngModel)]="price"
      ></nz-slider>
    </div>
  </div>
</app-layout>
